@use 'colors' as *;
@use 'mixins' as mx;

.testimation {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 80px;
    margin-bottom: 45px;
    gap: 6px;

    @include mx.respond(lg) {
        display: flex;
        align-items: center;
    }

    &__headline {
        font-family: 'Anta';
        font-size: 32px;
        color: $primary-color;

        @include mx.respond(md) {
            font-family: 'Josefin Sans';
        }
    }

    &__text {
        color: $second-color;
        font-size: 18px;
        margin-top: 6px;

        @include mx.respond(md) {
            color: $primary-color;
            font-size: 32px;
            margin-top: 0px;
        }
    }
}

article {
    @include mx.display(flex-start, center, unset);
    gap: 24px;
    overflow-x: auto;
    width: 100%;
    padding: 0 24px;
    max-width: 1440px;
    padding-bottom: 6px;

    @include mx.respond(md) {
        justify-content: center;
    }
}

article::-webkit-scrollbar {
    height: 5px;
}

article::-webkit-scrollbar-track {
    background: #36424b;
    border-radius: 12px;
}

article::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 12px;
    border: 1px solid #232e33;
}