@use 'mixins' as mx;

.contact-wrapper {
    @include mx.display(center, center, column);
    max-width: 1000px;
    gap: 32px;
    width: 100%;
    padding-bottom: 100px;
    padding-left: 18px;
    padding-right: 18px;

    @include mx.respond(sm) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

app-contact-form {
    width: 100%;
}