@use 'mixins' as mx;

.content {
    display: flex;
    flex-direction: column;
}


app-header {
    order: -1;

    @include mx.respond(lg) {
        position: sticky;
        top: 0;
        z-index: 1;
        order: 0;
    }
}

app-hero-section {
    order: 0;

    @include mx.respond(lg) {
        order: -1;
    }
}

router-outlet {
    order: 3;
}

app-footer {
    order: 4;
}