@use 'colors' as *;
@use 'mixins' as *;



.about-me-container {
    @include display(center , stretch , unset);
    max-width: 860px;
    gap: 79px;
}

p {
    color: $second-color;
}

app-icon-text{
    flex: 1;
}

article {
    font-size: 18px;
    @include display(unset, unset , column);
    gap: 36px;
    flex: 1;
}

.btn-container{
    @include display(flex-end, unset , unset);
}