<section appScrollAnimation>
    <h2>Why me</h2>
    <div class="about-me-container">
        <app-icon-text></app-icon-text>
        <article>
            <p>
                Precision and logical thinking are skills I gained from my work as a measurement technician. Through
                programming measurement routines, I discovered my passion for software development. Today, I build web
                applications with a focus on clean solutions and good user experiences, both independently and as part
                of a team.
            </p>
            <div class="btn-container">
                <app-secondary-button [disabled]="false">
                    <a [routerLink]="[]" [fragment]="'Contact'">Let's talk</a>
                </app-secondary-button>
            </div>
        </article>
    </div>
</section>