<section>
    <h2>Why me</h2>
    <div class="about-me-container">
        <div class="about-me-infos">
            <img src="assets/img/aboutme/location.png" alt="">
            <p><span>I am </span>located in Germany...</p>
        </div>
        <article>
            <p>
                Why are you passionate about coding?
                You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
                A problem-solving mindset is always nice to have.
            </p>
            <app-button></app-button>
        </article>
    </div>
</section>