<section appScrollAnimation>
    <h2>{{ 'ABOUTME.title' | translate }}</h2>
    <div class="about-me-container">
        <app-icon-text></app-icon-text>
        <article>
            <p>{{ 'ABOUTME.text' | translate }}</p>
            <div class="btn-container">
                <app-secondary-button [disabled]="false">
                    <a [routerLink]="[]" [fragment]="'Contact'">{{ 'ABOUTME.button' | translate }}</a>
                </app-secondary-button>
            </div>
        </article>
    </div>
</section>