@import '../../../../../styles/colors.scss';

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    font-family: 'Josefin Sans';
}

h2 {
    font-family: 'Anta';
    font-size: 60px;
    color: $second-bg-color;
    margin-bottom: 62px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 860px;
    gap: 74px;
}

.about-me-infos {
    display: flex;
    font-size: 30px;
    align-items: center;
    gap: 6px;

    div{
        display: flex;
        align-items: center;
    }

    img {
        width: 74.43px;
        height: 63.28px;
    }

    span {
        color: $second-bg-color;
    }
}

p {
    color: $second-color;
}

article {
    font-size: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.seperator {
    width: 3px;
    height: 33px;
    background-color: #89BCD9;
    margin-left: 6px;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
}