@use 'colors' as *;
@use 'mixins' as mx;



.about-me-container {
    margin: 0 32px;
    @include mx.display(space-between, center, column);
    gap: 28px;

    @include mx.respond(lg) {
        @include mx.display(space-between, stretch, unset);
        max-width: 950px;
        gap: 16px;
    }
}

article{
    margin:  0 6px;
}

app-icon-text {
    flex: 1;
}

article {
    @include mx.display(unset, unset, column);
    gap: 36px;
    flex: 1;
}

.btn-container {
    display: none;

    @include mx.respond(lg) {
        @include mx.display(flex-end, unset, unset);
    }
}

a{
    color: $primary-color;
}