@import '../../../../../styles/colors.scss';

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    font-family: 'Josefin Sans';
}

h2 {
    font-family: 'Anta';
    font-size: 60px;
    color: $second-bg-color;
    margin-bottom: 62px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 860px;
    gap: 50px;
}

p {
    color: $second-color;
}

app-icon-text{
    width: 55%;
}

article {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex: 1;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
}