@use 'colors' as *;
@use 'mixins' as mx;



.about-me-container {
    margin: 0 32px;
    @include mx.display(space-between, center, column);
    gap: 32px;

    @include mx.respond(md) {
        @include mx.display(space-between, stretch, unset);
        max-width: 860px;
    }
}

app-icon-text {
    flex: 1;
}

article {
    @include mx.display(unset, unset, column);
    gap: 36px;
    flex: 1;
}

.btn-container {
    @include mx.display(flex-end, unset, unset);
}