@use 'colors' as *;
@use 'mixins' as mx;

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
}

.inputfield {
    border-radius: 30px;
    color: $second-color;
    font-size: 18px;
    height: 60px;
    padding: 0 24px;
    background: transparent;
    position: absolute;
    inset: 0;
    z-index: 10;
}

.messagefield {
    padding: 12px 24px;
    height: 150px;
    max-height: 150px;
    resize: none;
}

label {
    display: flex;
    gap: 6px;
    color: $primary-color;
    font-size: 14px;
    padding-left: 24px;
    margin-top: 16px;

}

.input-continer-name-mail {
    @include mx.display(center, unset, column);

    div {
        flex: 1;
    }

    @include mx.respond(md) {
        @include mx.display(center, unset, unset);
        gap: 21px;
    }
}

.input-message {
    height: 150px !important;
}

.checkbox {
    display: flex;
    align-items: center;
}

p {
    font-size: 14px;
    font-weight: 100;
}

.error {
    color: #E44C36;
}

.input-error {
    border: 3px solid #E44C36;
    z-index: 1;
}

.input-error-message {
    border: 3px solid #E44C36;
    z-index: 1;
    height: 150px;
}

.checkbox input {
    width: 0;
    height: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    padding: 0;
    color: $second-color;
    margin-bottom: 24px;

    a {
        color: $primary-color;
    }
}

.checkbox-img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 6px;
}


app-scroll-indicator {
    display: flex;
    justify-content: center;

    @include mx.respond(md) {
        justify-content: flex-end;
    }
}

.border-animation {
    --offset: 1px;
    background: #323F48;
    border-radius: 30px;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.border-animation::before {
    content: '';
    background: conic-gradient(transparent 270deg, $primary-color, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 3s linear infinite;
}


.border-animation::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}


@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}

.success-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.success-msg {
    background-color: $primary-color;
    color: $second-color;
    padding: 16px;
    border-radius: 30px;
    max-width: 340px;
    animation: slide-in 0.75s forwards;
    position: absolute;
    top: 50px;
    z-index: 1;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.disabled {
    color: #f8f5ec82;
    border: 1px solid #f8f5ec82;
    cursor: unset;

    &:hover {
        background-color: $bg-color;
    }
}

app-secondary-button {
    float: right;
}