<form [formGroup]="contactForm" (ngSubmit)="formSubmit()">
    <div class="input-continer-name-mail">
        <div appScrollAnimation type="slide-left">
            @if (invalidName){
            <label class="error" for="name">{{ 'CONTACT.form.errorName' | translate }}</label>
            } @else{
            <label for="name">{{ 'CONTACT.form.name' | translate }}</label>
            }
            <div class="border-animation">
                <input class="inputfield" [class.input-error]="invalidName" id="name" type="text"
                    formControlName="name" />
            </div>
        </div>

        <div appScrollAnimation type="slide-right">
            @if (invalidEmail) {
            <label class="error" for="email">{{ 'CONTACT.form.errorEmail' | translate }}</label>
            }@else {
            <label for="email">{{ 'CONTACT.form.email' | translate }}</label>
            }
            <div class="border-animation">
                <input class="inputfield" [class.input-error]="invalidEmail" id="email" type="text"
                    formControlName="email" />
            </div>
        </div>

    </div>

    <div appScrollAnimation type="slide-bottom">
        @if (invalidMessage) {
        <label class="error" for="text">{{ 'CONTACT.form.errorMessage' | translate }}</label>
        }@else{
        <label for="text">{{ 'CONTACT.form.message' | translate }}</label>
        }
        <div class="border-animation input-message">
            <textarea class="inputfield messagefield" [class.input-error-message]="invalidMessage" name="text" id="text"
                formControlName="message"></textarea>
        </div>

        <div class="checkbox">
            <input formControlName="checkbox" id="checkbox" type="checkbox">
            <label class="checkbox-label" for="checkbox">
                <img (click)="toggleCheckbox()" class="checkbox-img" [src]="checkboxImageSrc()" alt="checkbox">
                <div>
                    <span>{{ 'CONTACT.form.text1' | translate }} </span> <a  [routerLink]="['privacy-policy']">{{ 'CONTACT.form.privacyPolicy' | translate }}</a> <span>{{ 'CONTACT.form.text2' | translate }}</span>
                </div>


            </label>
        </div>

        <app-secondary-button [disabled]="!contactForm.valid" type="submit">
            {{ 'CONTACT.form.send' | translate }}
        </app-secondary-button>
    </div>

</form>

<app-scroll-indicator appScrollAnimation type="slide-bottom" [scrollDirection]="'up'"
    [scrollTarget]="'whyMe'"></app-scroll-indicator>