<form [formGroup]="contactForm" (ngSubmit)="formSubmit()">
    <div class="input-continer-name-mail">
        <div appScrollAnimation type="slide-left">
            @if (invalidName){
            <label class="error" for="name">Your name is required</label>
            } @else{
            <label for="name">Your Name </label>
            }
            <div class="border-animation">
                <input class="inputfield" [class.input-error]="invalidName" id="name" type="text" formControlName="name" />
            </div>
        </div>


        <div appScrollAnimation type="slide-right">
            @if (invalidEmail) {
            <label class="error" for="email">Your Email </label>
            }@else {
            <label for="email">Your Email </label>
            }
            <div class="border-animation">
                <input class="inputfield" [class.input-error]="invalidEmail" id="email" type="text" formControlName="email" />
            </div>
        </div>

    </div>


    <div appScrollAnimation type="slide-bottom">
        @if (invalidMessage) {
        <label class="error" for="text">Your Message </label>
        }@else{
        <label for="text">Your Message </label>
        }
        <div class="border-animation input-message">
            <textarea class="inputfield messagefield" [class.input-error-message]="invalidMessage" name="text" id="text" formControlName="message"></textarea>
        </div>
        

        

        <div class="checkbox">
            <input formControlName="checkbox" id="checkbox" type="checkbox">
            <label class="checkbox-label" for="checkbox">
                <span class="checkbox-img"></span>
                I've read the <a href="legal-notice">private policy</a> and agree to the processing of my data as
                outlined.
            </label>
        </div>

        <app-secondary-button [disabled]="!contactForm.valid" type="submit">
            Send
        </app-secondary-button>
    </div>


</form>

<app-scroll-indicator appScrollAnimation type="slide-bottom" [scrollDirection]="'up'" [scrollTarget]="'Why me'"></app-scroll-indicator>