@use 'mixins' as mx;
@use 'colors' as *;

.btn-container {
    @include mx.display(space-evenly, center, unset);
    @include mx.respond(lg){
        margin-top: 34px;
        @include mx.display(center, center, unset);
        gap: 40px;
    }
}

.primary-btn-link {
    color: $bg-color;
}

.secondary-btn-link {
    color: $primary-color;
}