@use 'mixins' as mx;
@use 'colors' as *;

.btn-container {
    @include mx.display(space-evenly, center, unset);

    @include mx.respond(lg) {
        margin-top: 34px;
        @include mx.display(center, center, unset);
        gap: 40px;
    }
}

.gitHub-btn {
    background-color: #2D3840;

    &:hover {
        background-color: #3d4d57;
    }
}