@use 'mixins' as mx;
@use 'colors' as *;

.project-wrapper {
    background-color: #2D3840;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
    display: grid;


    @include mx.respond(lg) {
        border-radius: 0;
    }
}

app-projects-nav {
    width: 100%;
    max-width: 1440px;
    display: flex;

    @include mx.respond(sm) {
        padding-left: 24px;
    }

    @include mx.respond(md) {
        padding-left: 64px;
    }

    @include mx.respond(lg) {
        padding-left: 94px;
    }
}

.project {
    grid-area: 1 / 1;
}