<section appScrollAnimation>
    <h2>{{ "PROJECTS.title" | translate}}</h2>
    <app-projects-nav (selectProject)="getProject($event)" [projects]="projectService.projects"></app-projects-nav>
    <main>
        @if(previousProject()){
        <div class="project fade-out">
            <app-project-detail [project]="previousProject()"></app-project-detail>
        </div>
        }
        @if(currentProject()){
        <div class="project fade-in">
            <app-project-detail [project]="currentProject()"></app-project-detail>
        </div>
        }
    </main>
</section>