<section class="project fade-in">
    <h2>{{ "PROJECTS.title" | translate}}</h2>
    <app-projects-nav (selectProject)="getProject($event)" [projects]="projectService.projects"></app-projects-nav>
    <section class="project-wrapper">
        @if(previousProject()){
        <div class="project leave">
            <app-project-detail [project]="previousProject()"></app-project-detail>
        </div>
        }
        @if(currentProject()){
        <div class="project entry">
            <app-project-detail [project]="currentProject()"></app-project-detail>
        </div>
        }
    </section>
</section>