@use 'mixins' as *;
@use 'colors' as *;

.nav{
    width: 100%;
    height: 97px;
    @include display(space-between, center,unset);
    max-width: 1440px;
    padding: 0 72px;
}

main{
    background-color: #2D3840;
    width: 100%;
}

.projects-container{
    @include display(flex-start, center,unset);
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 94px;
}