@use 'mixins' as mx;
@use 'colors' as *;

main {
    background-color: #2D3840;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
    display: grid;
    

    @include mx.respond(lg) {
        border-radius: 0;
    }
}

.project {
    width: 100%;
    grid-area: 1 / 1;
    padding-top: 40px;
}