@use 'colors' as *;

main{
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans";
    color: $second-color;
}

.dataProtection{
    padding: 0;
    max-width: 950px;
}

h1{
    font-size: 54px;
}


h2{
    font-size: 24px;
    margin: 20px 0px;
}

h3, h4{
    font-size: 19px;
    color: $primary-color;
    margin-bottom: 6px;
}

p{
    margin-bottom: 6px;
}

a{
    color: $primary-color;
}