<section class="dataProtection">
    <h2 class="headline">{{ 'PRIVACY-POLICE.title' | translate}}</h2>
    <h3>{{ 'PRIVACY-POLICE.section1' | translate }}</h3>
    <h4>{{ 'PRIVACY-POLICE.sub1' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text1' | translate }}</p>
    <h3>{{ 'PRIVACY-POLICE.section2' | translate }}</h3>
    <h4>{{ 'PRIVACY-POLICE.sub2' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text2' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub3' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text3' | translate }}</p>
    <p>{{ 'PRIVACY-POLICE.text4' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub4' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text5' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub5' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text6' | translate }}</p>
    <h3>{{ 'PRIVACY-POLICE.section3' | translate }}</h3>
    <p>
        {{ 'PRIVACY-POLICE.text7' | translate }}
        <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">
            https://all-inkl.com/datenschutzinformationen/
        </a>
    </p>
    <p>{{ 'PRIVACY-POLICE.text8' | translate }}</p>

    <h4>{{ 'PRIVACY-POLICE.sub6' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text9' | translate }}</p>
    <h3>{{ 'PRIVACY-POLICE.section4' | translate }}</h3>

    <h4>{{ 'PRIVACY-POLICE.sub7' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text10' | translate }}</p>
    <p>{{ 'PRIVACY-POLICE.text11' | translate }}</p>
    <p>{{ 'PRIVACY-POLICE.text12' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub8' | translate }}</h4>
    <p>
        {{ 'PRIVACY-POLICE.company' | translate }}<br />
        {{ 'PRIVACY-POLICE.address' | translate }}
    </p>
    <p>
        {{ 'PRIVACY-POLICE.phone' | translate }}<br />
        {{ 'PRIVACY-POLICE.email' | translate }}
    </p>
    <p>{{ 'PRIVACY-POLICE.text13' | translate }}</p>

    <h4>{{ 'PRIVACY-POLICE.sub9' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text14' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub10' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text15' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub11' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text16' | translate }}</p>

    <h4>{{ 'PRIVACY-POLICE.sub12' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text17' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub13' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text18' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub14' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text19' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub15' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text20' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub16' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text21' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub17' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text22' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub18' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text23' | translate }}</p>
    <h3>{{ 'PRIVACY-POLICE.section5' | translate }}</h3>

    <h4>{{ 'PRIVACY-POLICE.sub19' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text24' | translate }}</p>
    <h4>{{ 'PRIVACY-POLICE.sub20' | translate }}</h4>
    <p>{{ 'PRIVACY-POLICE.text25' | translate }}</p>
    <p>{{ 'PRIVACY-POLICE.source' | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</section>