@use 'colors' as *;

.project-info {
    p{
        margin-left: 50px;
        margin-bottom: 36px;
    }

    img {
        width: 29px;
        height: 26px;
    }
}

.project-info-headline {
    display: flex;
    align-items: flex-start;
    gap: 21px;
}