@use 'colors' as *;
@use 'mixins' as mx;

.project-info {
    p{
        margin-bottom: 36px;
        @include mx.respond(sml){
            margin-left: 50px;
        }
    }

    img {
        width: 29px;
        height: 26px;
    }
}

.project-info-headline {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}