@use 'colors' as *;
@use 'mixins' as *;

ul{
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 0;
}

li{
    color: $primary-color;
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 500;
    padding: 33px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover{
        color: $second-color;
    }
}

.active-project{
    color: $second-color;
    background-color: #2D3840;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: default;
}