@use 'colors' as *;
@use 'mixins' as *;

header {
    background-color: $primary-color;
}

.header-container {
    @include display();
    font-family: 'Josefin Sans';
    margin: 0 auto;
    padding: 0 72px;
    height: 104px;
    max-width: 1440px;
}