@use 'colors' as *;

header {
    background-color: $primary-color;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    margin: 0 auto;
    padding: 0 72px;
    height: 104px;
    max-width: 1440px;
}