header {
    background-color: #89BCD9;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    margin: 0 auto;
    padding: 0 72px;
    height: 104px;
    max-width: 1440px;
}