@use 'colors' as *;
@use 'mixins' as *;

section{
    @include display(unset, center, column);
    margin: 0;
}

.main-logo{
    width: 56px;
    height: 38px;
}

.name{
    font-family: 'anta';
    font-size: 16px;
    color: $second-color;
    font-weight: 400;
    margin-bottom: 4px;
}

.job{
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 100;
}