@import "../../../styles/colors";

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo{
    width: 56px;
    height: 38px;
}

.name{
    font-family: 'anta';
    font-size: 16px;
    color: $second-color;
    font-weight: 400;
    margin-bottom: 4px;
}

.job{
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 100;
}