@use './mixins' as mx;
@use './colors' as *;

h1 {
    font-family: 'Anta';
    color: $second-color;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 8px;

    @include mx.respond(md) {
        font-size: 66px;
    }

    @include mx.respond(xl) {
        font-size: 88px;
        margin-bottom: 36px;
        margin-top: 36px;
    }

    @include mx.respond(lg) {
        font-size: 72px;
        margin-bottom: 36px;
        margin-top: 36px;
    }
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 80px;
    color: $primary-color;
    font-family: 'Anta';

    @include mx.respond(sm) {
        font-size: 40px;
        margin-bottom: 64px;
        margin-top: 92px;
    }

    @include mx.respond(md) {
        font-size: 48px;
        margin-bottom: 64px;
        margin-top: 92px;
    }

    @include mx.respond(lg) {
        font-size: 60px;
        margin-bottom: 80px;
        margin-top: 104px;
    }

}

h3 {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: $primary-color;

    @include mx.respond(sml) {
        font-size: 22px;
    }

    @include mx.respond(md) {
        font-size: 28px;
        color: $second-color;
    }
}

h4 {
    font-size: 24px;
    color: $second-color;
    margin-bottom: 8px;

    @include mx.respond(md) {
        font-size: 26px;
    }
}

p {
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: $second-color;

    @include mx.respond(md) {
        font-size: 18px;
    }
}

.primary-btn{
    display: inline-block;
    border-radius: 30px;
    color: $bg-color;
    background-color: $primary-color;
    padding: 13px 30px;
    font-size: 18px;
    font-family: 'Josefin Sans';
    cursor: pointer;
    &:hover {
        background-color: $second-color;
    }
}

.secondary-btn{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $bg-color;
    padding: 13px 30px;
    font-size: 18px;
    font-family: 'Josefin Sans';
    cursor: pointer;
    &:hover {
        background-color: #F8F5EC1F;
    }
}