@use './mixins' as mx;

h1 {
    font-family: 'Anta';
    color: #F8F5EC;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 8px;

    @include mx.respond(md) {
        font-size: 66px;
    }

    @include mx.respond(xl) {
        font-size: 88px;
        margin-bottom: 36px;
        margin-top: 36px;
    }

        @include mx.respond(lg) {
        font-size: 72px;
        margin-bottom: 36px;
        margin-top: 36px;
    }
}

h2 {
    font-family: 'Anta';
    font-size: 60px;
    color: #89BCD9;
    margin-bottom: 80px;
    margin-top: 104px;
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 28px;
    color: #F8F5EC;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    font-family: 'Josefin Sans';
    color: #F8F5EC;
}