@use './mixins' as mx;

h1 {
    font-family: 'Anta';
    color: #F8F5EC;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 8px;

    @include mx.respond(md) {
        font-size: 66px;
    }

    @include mx.respond(xl) {
        font-size: 88px;
        margin-bottom: 36px;
        margin-top: 36px;
    }

    @include mx.respond(lg) {
        font-size: 72px;
        margin-bottom: 36px;
        margin-top: 36px;
    }
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 80px;
    color: #89BCD9;
    font-family: 'Anta';

    @include mx.respond(sm) {
        font-size: 40px;
        margin-bottom: 64px;
        margin-top: 92px;
    }

    @include mx.respond(md) {
        font-size: 48px;
        margin-bottom: 64px;
        margin-top: 92px;
    }

    @include mx.respond(lg) {
        font-size: 60px;
        margin-bottom: 80px;
        margin-top: 104px;
    }

}

h3 {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #89BCD9;

    @include mx.respond(sml) {
        font-size: 22px;
    }

    @include mx.respond(md) {
        font-size: 28px;
        color: #F8F5EC;
    }
}

p {
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #F8F5EC;

    @include mx.respond(md) {
        font-size: 18px;
    }
}