* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-color: #89BCD9 #36424b;
}

body {
    height: 100%;
    background-color: #262E34;
    
}

button {
    cursor: pointer;
    border: none;
}

input,
textarea {
    border: none;
    scrollbar-color: #89BCD9 #323F48;
    scrollbar-width: thin;
}

input:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}