@use 'mixins' as *;

.project-container{
    @include display(flex-start, center,unset);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 94px;
    padding-bottom: 40px;
}

app-project-info{
    width: 50%;
}

.project-meta-rev-cotainer{
    flex: 1;
    @include display(center, center,column);
}