@use 'colors' as *;

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 55px;
}

p {
    font-size: 18px;
    color: $primary-color;
    text-align: center;
}

img {
    transition: transform 0.5s ease;
    &:hover {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
        transform: scale(1.1);
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}