@use 'colors' as *;

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 55px;
}

p{
    font-size: 18px;
    color: $primary-color;
    text-align: center;
}

img{
    transition: transform 0.5s ease;
    &:hover {
        transform: rotate(360deg);
    }
}