@use 'colors' as *;
@use 'mixins' as mx;

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 55px;
}

p {
    display: none;

    @include mx.respond(md) {
        display: block;
        font-size: 18px;
        color: $primary-color;
        text-align: center;
        cursor: default;
    }
}

.currentlearning {
    max-width: 150px;
    width: 120px;
    height: 120px;
    background-image: url('../../../../../../assets/img/shapes/ellipse-skills.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    p {
        font-size: 16px;
        color: $second-color;
        display: block;
    }

    app-skill-icons {
        &:hover {
            animation: none;
            transform: none;
        }
    }

    @include mx.respond(sm) {
        width: 150px;
        height: 150px;
    }

    @include mx.respond(lg) {
        background-image: none;
        width: auto;
        height: auto;
    }
}

app-skill-icons {
    transition: transform 0.5s ease;

    &:hover {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
        transform: scale(1.1);
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}