@use 'mixins' as *;
@use 'colors' as *;

.btn-container{
    @include display(center, center, unset);
    gap: 40px;
    margin-top: 34px;
}

img{
    width: 450px;
    height: 312px;
    border-radius: 30px;
}

.primary-btn-link{
    color: $bg-color;
}

.secondary-btn-link{
    color: $primary-color;
}