@use 'colors' as *;

button{
    border-radius: 30px;
    color: $bg-color;
    background-color: $primary-color;
    padding: 13px 30px;
    font-size: 18px;
    font-family: 'Josefin Sans';
    &:hover {
        background-color: $second-color;
    }
}