<div class="info">
    <p appScrollAnimation type="slide-left" class="info__text">
        {{ 'CONTACT.paragraph' | translate }} <br><br>
        {{ 'CONTACT.text' | translate }}</p>
    <div appScrollAnimation type="slide-right" class="info__contact">
        <a class="mail-link" href="mailto:hipper.christopher@gmail.com">
            <img class="default" src="assets/img/icons/contact/mail.png" alt="E-mail">
            <img class="hover" src="assets/img/icons/contact/mail-hover.png" alt="E-mail-hover">
            E-mail: hipper.christopher@gmail.com
        </a>
        <a class="mail-link" href="tel:+491713028957">
            <img class="default" src="assets/img/icons/contact/phone.png" alt="Phone">
            <img class="hover" src="assets/img/icons/contact/phone-hover.png" alt="Phone-hover">
            Tel: +49 171 3028957
        </a>
    </div>
</div>