<div class="info">
    <p appScrollAnimation type="slide-left" class="info__text">
        Say hello! <br>  
        Whether it’s an exciting front-end project, a creative collaboration, or a job offer – I’m open to anything
        where I can use modern web technologies to develop elegant interfaces and write clean, maintainable code. Let’s
        build digital solutions that not only work, but also make an impression.</p>
    <div appScrollAnimation type="slide-right" class="info__contact">
        <a class="mail-link" href="mailto:hipper.christopher@gmail.com">
            <img class="default" src="assets/img/icons/contact/mail.png" alt="E-mail">
            <img class="hover" src="assets/img/icons/contact/mail-hover.png" alt="E-mail-hover">
            E-mail: hipper.christopher@gmail.com
        </a>
        <a class="mail-link" href="tel:+491713028957">
            <img class="default" src="assets/img/icons/contact/phone.png" alt="Phone">
            <img class="hover" src="assets/img/icons/contact/phone-hover.png" alt="Phone-hover">
            Tel: +49 171 3028957
        </a>
    </div>
</div>