@use 'colors' as *;
@use 'mixins' as mx;

.info {
    @include mx.display(space-between, flex-start, column-reverse);
    gap: 36px;
    &__text {
        flex: 1;
    }

    &__contact {
        @include mx.display(center, flex-start, column);
        gap: 16px;
        flex: 1;

        a {
            color: $second-color;
        }

        :hover {
            color: $primary-color;

            .default {
                display: none;
            }

            .hover {
                display: inline;
            }
        }
    }

    @include mx.respond(md) {
        @include mx.display(space-between, flex-start, unset);
        
    }
}

.mail-link {
    display: flex;
    align-items: center;
    gap: 12px;

    .hover {
        display: none;
    }
}