@import "../../../../styles/colors";

ul {
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

a {
    color: $main-color;
    font-size: 26px;
    padding: 16px;
    &:hover {
        color: $second-color;
    }
    &:active{
        background-image: url('../../../../assets/img/shapes/ellipse-nav-hover.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}