ul {
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

a {
    color: #262E34;
    font-size: 26px;
    padding: 16px;
    &:hover {
        color: #F8F5EC;
    }
    &:active{
        background-image: url('../../../../assets/img/test.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}