@use 'colors' as *;

.about-me-infos {
    display: flex;
    font-size: 25px;
    align-items: flex-end;
    color: $second-color;
    div{
        display: flex;
        align-items: center;
        padding-bottom: 8px;
    }

    img {
        width: 73px;
        height: 63px;
    }

    span {
        color: $primary-color;
    }
}

.seperator {
    width: 3px;
    height: 33px;
    background-color: $primary-color;
    margin-left: 6px;
    
}