@use 'colors' as *;
@use './mixins' as mx;

.about-me-infos {
    display: flex;
    color: $second-color;
    width: 297px;

    @include mx.respond(sm) {
        align-items: flex-end;
        width: 330px;
    }

    @include mx.respond(sml) {
        width: 400px;
    }

    @include mx.respond(lg) {
        width: 100%;
    }


    div {
        display: flex;
        align-items: center;

        @include mx.respond(sml) {
            padding-bottom: 10px;
        }
    }

    img {
        width: 43px;
        height: 33px;

        @include mx.respond(sml) {
            width: 63px;
            height: 53px;
        }

        @include mx.respond(md) {
            width: 73px;
            height: 63px;
        }

    }

    span {
        color: $primary-color;
        font-size: 16px;

        @include mx.respond(sml) {
            font-size: 20px;
        }

        @include mx.respond(lg) {
            font-size: 25px;
        }
    }

    p {
        font-size: 16px;

        @include mx.respond(sml) {
            font-size: 20px;
        }

        @include mx.respond(lg) {
            font-size: 25px;
        }
    }
}

.seperator {
    width: 3px !important;
    height: 33px;
    background-color: $primary-color;
    margin-left: 6px;
}