@use 'colors' as *;
@use 'mixins' as mx;

.feedback {
    @include mx.display(flex-start, center, column);
    background-image: url('../../../../../../assets/img/shapes/ellipse-references.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px;
    padding-top: 30px;
    width: 360px;
    height: 360px;
    transition: all 0.4s ease-in-out;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 6px;

    @include mx.respond(lg) {
        width: 400px;
        height: 400px;
        padding: 24px;
    }


    &:hover {
        background-image: url('../../../../../../assets/img/shapes/ellipse-references-hover.png');

    }

    &__project {
        display: flex;
        gap: 6px;
        margin-bottom: 19px;

        &--name {
            color: $primary-color;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        width: 100%;
        color: $primary-color;
        text-decoration: underline;
        font-size: 16px;
        margin-top: 36px;

        @include mx.respond(lg) {
            margin-bottom: 24px;
        }
    }

    &__text {
        @include mx.respond(lg) {
            max-width: 250px;
            max-height: unset;
            flex: 1;
        }
    }
    &__mobile{
        max-width: 260px;
        display: flex;
        flex-direction: column;
        gap: 27px;
        &--btn{
            font-size: 24px;
        }
    }
}

p {
    font-size: 18px;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    color: $primary-color;
    background-color: unset;
    &:hover{
        color: $second-color;
    }
}