<section appScrollAnimation>
    <h2>{{ 'SKILLS.title' | translate }}</h2>
    <div class="skills-container">
        <div appScrollAnimation type="slide-left" class="skills">
            @for (skill of skills; track skill) {
            <app-single-skill [skill]="skill"></app-single-skill>
            }
        </div>
        <div appScrollAnimation type="slide-right" class="current-learning">
            <p class="current-learning__headline">{{ 'SKILLS.info' | translate }}</p>
            <div class="current-learning__info">
                <p> <strong>{{ 'SKILLS.paragraph' | translate }}:</strong><br>{{ 'SKILLS.text' | translate }}</p>
                <app-single-skill [currentlearning]="true" [skill]="'Docker'"></app-single-skill>

            </div>
        </div>
    </div>
    <div class="btn-container">
        <app-primary-button>
            <a [routerLink]="[]" [fragment]="'Contact'">{{ 'ABOUTME.button' | translate }}</a>
        </app-primary-button>
    </div>
</section>