<section appScrollAnimation>
    <h2>My Skills</h2>
    <div class="skills-container">
        <div appScrollAnimation type="slide-left" class="skills">
            @for (skill of skills; track skill) {
            <app-single-skill [skill]="skill"></app-single-skill>
            }
        </div>
        <div appScrollAnimation type="slide-right" class="current-learning">
            <p class="current-learning__headline">I am currently learning</p>
            <div class="current-learning__info">
                <p> <strong>Learning & Growth:</strong><br>Discovering new technologies and continuously expanding my
                    knowledge motivates me to take myself and my projects to the next level.</p>
                <app-single-skill [currentlearning]="true" [skill]="'Docker'"></app-single-skill>

            </div>
        </div>
    </div>
</section>