@use 'colors' as *;

address{
    font-style: unset;
}

a {
    color: $primary-color;
}

.imprint {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Josefin Sans';
}