<div class="layout">
    <app-header></app-header>

    <main class="scroll-animate" [class.in-view]="isInit()">
        @if(mobileNav.mobileNavIsOpen() && mobile.isMobile()){
        <div class="nav-wrapper">
            <figure class="hero__img">
                <app-mobile-nav></app-mobile-nav>
            </figure>
        </div>
        }@else{
        <a class="arrow-link"[routerLink]="''">
            <img class="arrow" src="assets/img/scroll/arrow-back.png" alt="back to main Page">
        </a>
        <router-outlet></router-outlet>
        }
    </main>

    <app-footer></app-footer>
</div>