@use 'colors' as *;

.language-container {
    display: flex;
    gap: 6px;
    button {
        font-size: 18px;
        background-color: unset;
        padding: 2px 4px;
        transition: color 0.5s, background-image 0.5s;
    }
    button:not(.active):hover {
        ~.active {
            background-image: none;
            color: $bg-color;
        }
        color: $second-color;
    }
}

.active {
    &:has(+ button:not(.active):hover) {
        background-image: none;
        color: $bg-color;
    }
    background-image: url('../../../../assets/img/shapes/ellipse-nav-hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: $second-color;
    cursor: default;
}