@import "../../../../styles/colors";

.language-container{
    display: flex;
    gap: 12px;
    button{
        font-size: 18px;
        background-color: unset;
        padding: 0;
        color: $main-color;
        &:hover{
            color: $second-color;
            transition-duration: 0.5s;
        }
    }
}