@use 'mixins' as mx;

.meta {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 8px;

    @include mx.respond(sm) {
        padding-left: 0;
    }

    @include mx.respond(lg) {
        flex-direction: column;
        gap: 12px;
    }
}

.icon-container {
    display: flex;
    gap: 18px;


    @include mx.respond(sml) {
        gap: 32px;
    }
}