*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    height: 100%;

}

button{
    cursor: pointer;
    border: none;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

h2 {
    font-family: 'Anta';
    font-size: 60px;
    color: #89BCD9;
    margin-bottom: 80px;
    margin-top: 104px;
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 28px;
    color: #F8F5EC;
    margin-bottom: 16px;
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/josefin-sans-v34-latin-regular.woff2') format('woff2');
}

/* anta-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/anta-v1-latin-regular.woff2') format('woff2');
}