<div class="hero">

    <figure class="hero__img">
        @if(mobileNav.mobileNavIsOpen() && mobile.isMobile()){
        <app-mobile-nav></app-mobile-nav>
        }@else{
        <img class="portrait" src="assets/img/hero/me.png" alt="me">
        }


    </figure>

    <div class="hero__content">
        @if (!mobile.isMobile()) {
        <app-logo [logoVariant]="'hero'"></app-logo>
        }
        <div class="hero__text">
            <h1>Christopher Hipper</h1>
            <p>{{ 'HERO.job' | translate }}</p>
        </div>
        <app-scroll-indicator [scrollDirection]="'down'"></app-scroll-indicator>
    </div>

    @if (!mobile.isMobile()) {
    <div class="hero__sozialmedia-container">
        <nav class="hero__sozialmedia">
            @for (icon of icons(); track $index) {
            <app-sozial-media-icons [iconImg]="icon"></app-sozial-media-icons>
            }
        </nav>
    </div>
    }
</div>

