<div class="hero" role="banner" aria-label="Hero Bereich">

    <figure class="hero__img">
        @if(mobileNav.mobileNavIsOpen() && mobile.isMobile()){
        <app-mobile-nav></app-mobile-nav>
        }@else{
        <img class="portrait" src="assets/img/hero/hero-img.png" alt="Image-Christopher Hipper">
        }
    </figure>

    <div class="hero__content">
        @if (!mobile.isMobile()) {
        <div class="hero__logo-sozial">
            <div class="hero-logo">
                <app-logo aria-label="main logo" [logoVariant]="'hero'"></app-logo>
            </div>
            <div class="hero__sozialmedia-container">
                <nav aria-label="Social Media Links" class="hero__sozialmedia">
                    @for (icon of icons(); track $index) {
                    <app-sozial-media-icons [iconImg]="icon"></app-sozial-media-icons>
                    }
                </nav>
            </div>
        </div>
        }
        <div class="hero__text">
            <h1 aria-label="Headline">Christopher Hipper</h1>
            <p>{{ 'HERO.job' | translate }}</p>
        </div>
        <app-scroll-indicator [scrollDirection]="'down'"></app-scroll-indicator>
    </div>
</div>