<div class="hero">
    @if (isMobile()) {
    <div class="hero__mobile">
        <app-mobile-nav #burgerBtn [isChecked]="mobileNav()" (isCheckedChange)="mobileNav.set($event)"></app-mobile-nav>
    </div>
    }


    <figure class="hero__img" [class.menu-open]="mobileNav()">
        <img class="hero-img hero-img--me" src="assets/img/hero/me.png" alt="me">
        <img class="hero-img hero-img--shape" src="assets/img/shapes/ellipse-hero.png" alt="shape" #nav>
        @if (mobileNav()) {
        <nav class="burger-nav" >
            <ul>
                @for (navItem of navList(); track navItem; let i = $index) {
                <li><a [routerLink]="['']" [fragment]="getId(navItem)">{{ navItem | translate }}</a></li>
                }
                <app-language-switch></app-language-switch>
            </ul>
        </nav>
        }
    </figure>

    <div class="hero__content">
        @if (!isMobile()) {
        <app-logo [logoVariant]="'hero'"></app-logo>
        }
        <div class="hero__text">
            <h1>Christopher Hipper</h1>
            <p>{{ 'HERO.job' | translate }}</p>
        </div>
        <app-scroll-indicator [scrollDirection]="'down'" [scrollTarget]="'whyMe'"></app-scroll-indicator>
    </div>

    @if (!isMobile()) {
    <div class="hero__sozialmedia-container">
        <nav class="hero__sozialmedia">
            @for (icon of icons(); track $index) {
            <app-sozial-media-icons [iconImg]="icon"></app-sozial-media-icons>
            }
        </nav>
    </div>
    }
</div>