@use 'colors' as *;
@use 'mixins' as *;

footer {
    background-color: $primary-color;
    margin-top: auto;
}

.footer-container {
    @include display(space-between,center,unset);
    font-family: 'Josefin Sans';
    margin: 0 auto;
    padding: 0 72px;
    height: 214px;
    max-width: 1440px;
}

.sozial-media-container {
    display: flex;
    gap: 18px;
}

.legal-notice-container {
    font-size: 18px;
    @include display(unset,unset,column);
    gap: 6px;

    a {
        color: $bg-color;
        margin-right: auto;
        &:hover {
            color: $second-color;
        }
    }

    span {
        color: $bg-color;
    }
}