@use 'colors' as *;
@use 'mixins' as mx;

footer {
    background-color: $primary-color;
    margin-top: auto;
}

.footer-container {
    @include mx.display(space-between, center, column-reverse);
    font-family: 'Josefin Sans';
    margin: 0 auto;
    gap: 32px;
    max-width: 1440px;
    padding: 32px 0;

    @include mx.respond(lg) {
        @include mx.display(space-between, center, unset);
        padding: 0 72px;
        height: 214px;
    }
}

.sozial-media-container {
    display: flex;
    gap: 18px;
}

.legal-notice-container {
    font-size: 18px;
    @include mx.display(space-between, unset, column);


    a {
        color: $bg-color;
        margin-right: auto;

        &:hover {
            color: $second-color;
        }
    }

    span {
        color: $bg-color;
    }

    @include mx.respond(sm) {
        @include mx.display(unset, unset, unset);
        gap: 32px;
    }

    @include mx.respond(lg) {
        @include mx.display(unset, unset, column);
        gap: 6px;
    }
}

.logo-sozialmedia-container {
    @include mx.display(space-between, center, column);
    width: 50%;
    gap: 32px;

    @include mx.respond(lg) {
        @include mx.display(space-between, center, unset);
    }
}