<footer>
    <div class="footer-container">
        <div class="legal-notice-container">
            <a href="legal-notice">Legal notice</a>
            <span>© Christopher Hipper 2026</span>
        </div>
        <div class="logo-sozialmedia-container">
            <app-logo [logoVariant]="'nav'"></app-logo>
            <div class="sozial-media-container">
                @for (icon of icons; track $index) {
                <app-sozial-media-icons [iconImg]="icon"></app-sozial-media-icons>
                }
            </div>
        </div>

    </div>
</footer>